div#sliding_div_title{padding:0 10px;width:1000px;margin-left: 1366px;margin-top: 15px;margin-bottom: 15px;}
div#sliding_div_content{padding: 0 10px;width: 230px;margin-left: 1366px;}
h3{margin: 5px 0;}
h4{margin:3px 0;}
label.error{color:#e80000;}
div.clear{height: 5px;}
div.label_input{overflow: auto;}
div.label{width:50px;float: left;padding:5px 0;}
div.input{float: left;}
.input{width: 174px;}
.validation_error_div{padding: 3px 0;}
.grid{overflow: hidden;}
.profile_pic{
    display: none;
}
.hr hr{
    border:none;
    border-bottom: 1px solid #555;
    padding:0px;
    margin:0px;
    margin-top:15px;
    margin-bottom: 15px;
}
#sliding_div_content h2 {
    margin-bottom: 15px;
}
#sliding_div_title > p {
    opacity: 0;
}
.submit {
    width: 226px;
}